<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> 
    <!-- Imports bootsrap CSS module -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Imports bootsrap Javascript module -->
    <link rel = "stylesheet" href="static/styles.css" >
    <!-- Imports the stylesheet that will be accessed in this page -->
</head>
<body>
    <div class = "container border p-5" >
    <!-- Creates a container for all content to be within, with a border to show this containment and 5 padding to space the contents from the border -->
    <h1 class = "display-2 text-center mb-5 fw-medium">{{ session["currentUser"] }}'s Dashboard</h1>
    <!-- Creates the main heading, with it in the centre, with a margin below of 5 and have a more boldened font to emphasise it. -->
    <!-- Heading contains the current user's username to make it more personalised -->
    <hr>
    <!-- Creates a horizontal line to separate the heading form the rest of the page -->
    <div class = "text-center">
        <!-- Aligns the button centrally -->
        <p><a class = "btn btn-light border-primary btn-lg shadow py-3 my-3 w-75 fs-4" href = "/creationForm">Create a Tournament</a></p>  
        <!-- Creates button for users to create a tournament, links to the creationForm function to load the page -->
        <!-- Button has a very light grey background that becomes darker when hovered over, blue border, is made large, shadow below, larger font size, 75% width of the container and vertical padding and margin -->
    </div>
    <div class = "text-center">
        <!-- Aligns the button centrally -->
        <p><a class = "btn btn-light border-primary btn-lg shadow py-3 mb-3 w-75 fs-4" href = "/myTournamentsPage">My Tournaments</a></p>  
        <!-- Creates button for users to view all their tournaments, links to the myTournamentsPage function to load the page -->
        <!-- Button has a very light grey background that becomes darker when hovered over, blue border, is made large, shadow below, larger font size, 75% width of the container and vertical padding and margin -->
    </div>
    <div class = "text-center mb-3">
        <!-- Aligns the button in the centre of the division with a margin below -->
        <button type="button" class="btn btn-light border-primary btn-lg shadow py-3 mb-3 w-75 fs-4" data-toggle="modal" data-target="#enterViewCodeModal">View a Tournament</button>
        <!-- Makes the View a tournament button that will toggle the enterViewCode modal to pop up when pressed -->
        <!-- Button has a very light grey background that becomes darker when hovered over, blue border, is made large, shadow below, larger font size, 75% width of the container and vertical padding and margin -->
        <div class="modal fade" id="enterViewCodeModal">
            <!-- Defines the modal as enterViewCodeModal and fades it in when the button is pressed -->
            <div class="modal-dialog">
                <!-- Sets the proper width and margin of the modal -->
                <div class="modal-content">
                    <!-- Creates a division for the modal to store all its content within and styles the modal -->
                    <div class="modal-header">
                        <h5 class="modal-title">View a Tournament</h5>
                        <!-- Creates the header section of the modal, with a heading for it displayed -->
                    </div>
                    <div class="modal-body">
                        <!-- Displays the content in the body of the modal -->
                        <form action = "/viewTournament" method = "post">
                            <!-- Creates the form, sending the submitted to the viewTournament route using the post method -->
                            <div class = "mb-3">
                                <label class = "form-label text-dark" for = "enteredViewCode">Enter the view code of the tournament you wish to view: </label>
                                <!-- Labels the view code input box -->
                                <input class = "form-control" type="number" name="enteredViewCode" placeholder = "eg. 123456" id="enteredViewCode" max="999999" required>
                                <!-- Creates the view code input box, only allowing 6-digit numbers or less to be entered while also having an entry required before the form is submitted -->
                                <!-- Also displays a placeholder to show the user what format to enter the view code in -->
                            </div>
                            <div>
                                <input class="btn mb-3 w-50 border" type="submit" value="Confirm">
                                <!-- Creates the submit button for the form, which when pressed, will send the entered data to the viewTournament route -->
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class = "btn border" data-dismiss="modal">Close</button>
                        <!-- Adds a close button to the footer of the modal so the modal can be closed and the dashboard will be fully displayed again -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- Seperates the user account function buttons from the main section of the page -->
    <div class = "d-flex justify-content-around">
        <!-- Aligns the buttons side by side with space between and around the buttons -->
        <p><a style="width: 400px;" class = "btn btn-light border-primary-subtle shadow-sm btn-lg py-3 mt-3" href = "/logout">Logout</a></p>  
        <!-- Creates a button for users to logout of their account, links to the logout function.  -->
        <!-- Button has a very light grey background that becomes darker when hovered over, light blue border, is made large, smallshadow below, larger font size, fixed width of 400px and vertical padding and margin -->
        <p><a style="width: 400px;" class = "btn btn-light border-primary-subtle shadow-sm btn-lg py-3 mt-3" href = "/deleteAccount">Delete your Account</a></p>
        <!-- Creates a button for users to delete their account, links to the deleteAccount function -->
        <!-- Button has a very light grey background that becomes darker when hovered over, light blue border, is made large, smallshadow below, larger font size, fixed width of 400px and vertical padding and margin -->
    </div>
    {% if error != "" %}
    <!-- If an error has occured with the view code input -->
    <hr>
    <!-- Seperate the error message if there is one from the user account buttons -->
    <div class = "py-3">
        <!-- Adds vertical padding -->
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{error}}
            <!-- Makes a dismissable, red alert containing the view code input error message to be displayed. When dismissed, it will fade out -->
        </div>
    </div>
    {% endif %}
    </div>
</body>
</html>