<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Bracket View</title>
    <!-- Title for the page -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> 
    <!-- Imports bootsrap CSS module -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Imports bootsrap Javascript module -->
    <link rel = "stylesheet" href="static/styles.css" >
    <!-- Imports the stylesheet that will be accessed in this page -->
</head>
<body>
    <h1 class = "display-4 text-center p-5 text-dark">Live Bracket View</h1>
    <!-- Creates main heading for the page, centered and a margin below so is emphasised -->
    <div class = "bracket">
      <!-- Creates division for the bracket, with the "bracket" styling in the stylesheet -->
          {% for i in range(numberOfRounds) %}
          <div class = "round"> 
            <!-- Loop creates as many rounds for what is required by the specific tournament and each round is made a division with the "round" styling in the stylesheet -->
            <h2 class = "text-center p-1">Round {{i+1}}</h2>
            <!-- Gives each round a heading, with its round number for a tournament with any number of teams -->
            {% for match in matchScores[i+1] %}
            <div class = "match" style = "padding: 15px;">
              <!-- Creates a division for each match within each round using the "match" styling, 
                   uses the matchScores dictionary to access the matches for the specific tournament one by one -->
                {% for player in matchScores[i+1][match] %}

                {% if matchScores[i+1][match][player] is string or matchScores[i+1][match][player] == None %}
                  <div class = "p-2 mx-2" style= "width: 200px; display: flex; justify-content: space-between;">
                    <div>
                      <button class="btn m-auto" style="background-color:transparent">{{matchScores[i+1][match][player]}}</button>
                    </div>
                  </div>
                {% else %}
                  {% if matchScores[i+1][match][player][2] == "W" %}
                    <div class = "p-1 mx-2" style= "border: 1px solid lime; width: 200px; display: flex; justify-content: space-between; ">
                        <div>
                          <button class="btn m-auto" style="background-color:transparent; ">{{matchScores[i+1][match][player][0]}}</button>
                        </div>
                      
                        <div>
                            <button class="btn m-auto" style="background-color:transparent">{{matchScores[i+1][match][player][1]}}</button>
                        </div>
                    </div>
                  {% else %}
                    <div class = "p-1 mx-2" style= "width: 200px; display: flex; justify-content: space-between; ">
                      <div>
                        <button class="btn m-auto" style="background-color:transparent; ">{{matchScores[i+1][match][player][0]}}</button>
                      </div>
                    
                      <div>
                          <button class="btn m-auto" style="background-color:transparent">{{matchScores[i+1][match][player][1]}}</button>
                      </div>
                  
                      <!-- If draw, penalty winner selector pops up to determine who progresses -->
                    </div>


                  {% endif %}
                {% endif %}

                {% if player == 1 %}
                  <hr>
                {% endif %}

              {% endfor %}
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        <div class = "container p-3 w-75">
          <div class = "text-center mb-3">
            <p><a class = "btn link-dark border mb-3 w-50" href = "/tournamentDashboard">Return to Tournament Dashboard</a></p>  
            <!-- Creates the button to return the user to the tournament dashboard, displayed centrally and below the matches lists -->
          </div>
        </div>
</body>
</html>