<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams Input</title>
    <!-- Title -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> 
    <!-- Imports bootstrap CSS module -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Imports bootsrap Javascript module -->
    <link rel = "stylesheet" href="static/styles.css" >
    <!-- Imports the stylesheet that will be accessed in this page -->
</head>
<body>
    <div class = "container border p-5">
    <!-- Creates a container for all content to be within, with a border to show this containment and 5 padding to space the contents from the border -->
    <h1 class = "display-2 text-center mb-5 fw-medium">Teams Input</h1>
    <!-- Creates the main heading, with it in the centre, with a margin below of 5 and have a more boldened font to emphasise it. -->
    <hr>
    <!-- Creates a horizontal line to separate the heading form the rest of the page -->
    <form action = "/teamsInput" method = "post">
        <!-- Creates the form that users can make inputs into. Sends inputs to the /teamsInput route -->
        <div class = "my-4">
            <label class = "form-label fs-4 fw-medium" for = "teamNames">Enter the name of a team: </label>
            <!-- Labels the team input box, with the form-label bootstrap styling and a larger bolder font to emphasise it -->
            <input class = "form-control form-control-lg border-primary shadow" type="text" name="teamNames" id="teamNames" placeholder="eg. Team 5">
            <!-- Creates the team input box, using the form-control attribute to add a bundle of bootstrap styling, making it large, with a blue border and a shadow below -->
            <!-- Has a placeholder to show the user the type of data to be inputted -->
        </div>
        <div class = " text-center mb-3">
            <!-- Aligns the button centrally with a margin below -->
            <input class="btn btn-light border-primary shadow w-50 mb-3 fs-5" type="submit" value="Confirm">
            <!-- Creates a confirm button for the teams input -->
            <!-- Button has a very light grey background that becomes darker when hovered over, blue border, is made large, shadow below, larger font size, 50% width of the container and vertical padding and margin -->
        </div>
    </form>
    {% if error != "" %}
    <!-- If an error has occured with the team input -->
    <div class = "pb-3">
        <!-- Adds padding below -->
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{error}}
            <!-- Makes a dismissable, red alert containing the team input error message to be displayed. When dismissed, it will fade out -->
        </div>
    </div>
    {% endif %}
    <label class = "form-label fs-4 fw-medium mb-3" for = "teamNames">Teams in tournament: </label><br>
    <!-- Labels the teams in tournament list, with the form-label bootstrap styling, a larger bolder font to emphasise it and a margin below -->
    <div class = "mb-4">
        <!-- Adds a margin below -->
        <ol class="list-group list-group-numbered ">
        <!-- Creates an ordered list for the teams, using the boostrap list group styling -->
            {% for i in (session["Teams"]) %}
            <li class="list-group-item fs-5 list-group-item-primary navyBorder py-2">{{i}}</li>
            {% endfor %}
            <!-- Displays every team in order from the session for teams which is set from the teams list in the tournamentCreation file -->
            <!-- Each team has the list group item bootstrap styling, a larger font size, a light blue background, a navy blue border defined by my styles CSS file and vertical padding within the border -->
        </ol>
    </div>
    <form action = "/clearTeams" method = "post">
        <div class = "mb-3 text-center">
            <!-- Aligns the button centrally with a margin below -->
            <input class="btn btn-light border-primary shadow py-2 mb-3 w-50 fs-5" type="submit" value="Clear Teams" name="clearTeams" id="clearTeams">
            <!-- Creates the clear teams button, and is linked to the clear teams function in the tournamentCreation file -->
            <!-- Button has a very light grey background that becomes darker when hovered over, blue border, is made large, shadow below, larger font size, 50% width of the container and vertical padding and margin -->
        </div>
    </form>
    <form action = "/teamDeletion" method = "post">
        <!-- Form is linked to teamDeletion function in tournamentCreation file-->
        <label class = "form-label fs-4 fw-medium mb-3" for = "teamDeletion">Delete a Team: </label>
        <!-- Labels the team deletion input, with the form-label bootstrap styling, a larger bolder font to emphasise it and a margin below -->
        <div class="input-group mb-3">
            <!-- Creates an input group for the team deletion function so the confirm button can attach to the input box -->
            <input type="text" class="form-control form-control-lg border-primary shadow mb-3" name="teamDeletion" id="teamDeletion" placeholder="eg. Team 5">
            <!-- Creates an input box in which teams entered will be removed from the teams list and session -->
            <!-- Uses the form-control attribute to add a bundle of bootstrap styling, makes it large, with a blue border and a shadow below -->
            <!-- Has a placeholder to show the user the type of data to be inputted -->
            <div class="input-group-append">
            <button class="btn btn-light btn-lg border-primary shadow" type="submit">Confirm</button>
            <!-- Confirm button submits the data to the route linked to by the form -->
            <!-- Button has a very light grey background that becomes darker when hovered over, blue border, is made large, shadow below and is attached to the input box  -->
            </div>
        </div>
    </form>
    {% if error2 != "" %}
    <!-- If an error has occured with the team deletion input -->
    <div class = "pb-3">
        <!-- Adds padding below -->
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{error2}}
            <!-- Makes a dismissable, red alert containing the team deletion error message to be displayed. When dismissed, it will fade out -->
        </div>
    </div>
    {% endif %}
    <hr>
    <!-- Seperates the page redirect buttons from the main section of the page -->
    <div class = "d-flex justify-content-around">
        <!-- Aligns the buttons side by side with space between and around the buttons -->
        <p><a style="width: 400px;" class = "btn btn-light border-primary-subtle shadow-sm btn-lg py-3 mt-3" href = "/dashboard">Return to Dashboard</a></p> 
        <!-- Creates the redirect to dashboard button -->
        <!-- Button has a very light grey background that becomes darker when hovered over, light blue border, is made large, smallshadow below, larger font size, fixed width of 400px and vertical padding and margin -->
        <p><a style="width: 400px;" class = "btn btn-light border-primary-subtle shadow-sm btn-lg py-3 mt-3" href = "/bracketView">Generate Brackets</a></p>
        <!-- Creates the redirect to bracket view page button -->
        <!-- Button has a very light grey background that becomes darker when hovered over, light blue border, is made large, smallshadow below, larger font size, fixed width of 400px and vertical padding and margin -->
    </div>
    </div>
</body>
</html>